:root {
    --bg: #f4f6fb;
    --text: #03070b;
    --primary: #467ac8;
    --secondary: #d895df;
    --accent: #d572b5;
    /*dark */
    --darkBg: #04060b;
    --darkText: #f3f7fc;
    --darkPrimary: #376bb9;
    --darkSecondary: #8d2a6e;
    --darkAccent: #63206a;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--bg);
    color: var(--text);
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

.tabs {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.tab-button {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: var(--primary);
    color: var(--bg);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.tab-button:hover {
    background-color: var(--secondary);
    color: var(--text);
}

.tab-button.active {
    background-color: var(--accent);
    color: var(--bg);
}

.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid var(--primary);
    border-radius: 5px;
    background-color: #ffffff;
    transition: background-color 0.3s;
}

.tab-content.active {
    display: block;
}

/* Темная тема */
.dark-theme {
    background-color: var(--darkBg);
    color: var(--darkText);
}

.dark-theme .tab-button {
    background-color: var(--darkPrimary);
    color: var(--darkText);
}

.dark-theme .tab-button:hover {
    background-color: var(--darkAccent);
    color: var(--darkText);
}

.dark-theme .tab-button.active {
    background-color: var(--darkSecondary);
    color: var(--darkText);
}

.dark-theme .tab-content {
    background-color: var(--darkBg);
    border-color: var(--darkPrimary);
}

/* media */
@media (max-width: 768px) {
    .info-blocks {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .info-block {
        max-width: 90%;
    }
}
